.m1 {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: lime;
}
.m3 {
    position: absolute;
    right: 0;
    margin-top: 1px;
    line-height: 70px;
    font-family: 'Courier New', Courier, monospace;
}
.m2 {
    background-image: url(img1.jpeg);
    background-size: cover;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 2px;
    margin-left: 3px;
    border-radius: 10% 50%;
    border: 2px solid black;
    padding: 1px;
    transition: 3s;
    background-color: white;
}
.m2:hover {
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px black;
}
.m4 {
    width: 100%;
    height: 500px;
    background-color: white;
}
.f1 {
    position: absolute;
}
.a1 {
    margin-top: 70px;
    margin-left: 200px;
}
.a2 {
    margin-top: 70px;
    margin-left: 1070px;
}
.m5 {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 2px solid;
    margin-top: 110px;
    margin-left: 150px;
    background-image: url(img2.jpeg);
    background-size: cover;
    transition: 3s;
    background-color: white;
}
.m6 {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 2px solid;
    margin-top: 110px;
    margin-left: 1000px;
    background-image: url(img3.jpeg);
    background-size: cover;
    transition: 3s;
    background-color: white;
}
.m5:hover,
.m6:hover {
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px black;
}
.m7 {
    width: 250px;
    position: absolute;
    height: 100px;
    border: 2px solid;
    margin-top: 330px;
    margin-left: 120px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m8 {
    width: 250px;
    position: absolute;
    height: 100px;
    border: 2px solid;
    margin-top: 330px;
    margin-left: 970px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m9 {
    text-align: center;
    line-height: 70px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    background-color: lime;
}
.m10{
    width: 500px;
    position: absolute;
    margin-left: 430px;
    margin-top: 80px;
    border: 2px solid;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
.m11{
    position: absolute;
    margin-left: 626px;
}